<div class="container" id="about">
    <h3>ABOUT US</h3>
    <hr><p>If you actively look up your food ingredients before you indulge in your food, you’re not only a conscious but wise eater! Looking up your food contents, be it veggies or other sources of animal-related edible items, is an intelligent thing to do, especially when we all are surrounded by nothing but impurities and pollutants. Food Marketing and Vegetable Market goes hand in hand.</p>
    <hr>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-5 py-3 py-md-0">
            <div class="card">
                <img src="../../../assets/Images/green-grocer-home.jpg" alt="">
            </div>
        </div>
        <div class="col-md-7 py-3 py-md-0">
            <p>Commercial vegetable production is a high input and labor-intensive activity that needs a large labor force, from cultivation to processing, including hiring non-family members and a much greater reliance on humans in the production, processing, and marketing phases. Vegetables are also rich in folic acid, which in turn ensures good hemoglobin levels among anemic patients. Vegetable consumption is also rising, reflecting the consumer’s increased income, desire for diversity, and awareness of nutritional benefits. At the same time, consumers have a rising concern with product safety issues.</p>
           <p>Farm Fresh Vegetables and Fruits – Vegetables and fruits you find at the grocery store are often several days old before they even reach the produce aisle. Before produce hits supermarket shelves, it ships in refrigerated trucks, possibly from thousands of miles away. In vegetable market produce, in most cases, the owner of the stand picked it just that morning, so you know the food is as fresh as you can get it outside of growing it yourself.</p>
            <!-- <button>Read More...</button> -->
        </div>
    </div>
</div>






<!-- offer -->
<div class="container" id="offer">
  <div class="row">
    <div class="col-md-3 py-3 py-md-0">
      <i class="fa-solid fa-cart-shopping"></i>
      <h3>Free Shipping</h3>
      <p>On order over ₹500</p>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <i class="fa-solid fa-rotate-left"></i>
      <h3>Free Returns</h3>
      <p>Within 30 Minutes</p>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <i class="fa-solid fa-truck"></i>
      <h3>Fast Delivery</h3>
      <p>All over the city</p>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <i class="fa-solid fa-thumbs-up"></i>
      <h3>Big choice</h3>
      <p>Of products</p>
    </div>
  </div>
</div>
<!-- offer -->