<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>
<body>
    
<div class="main forgot-password">
    <br />
    <br />
    <div *ngIf="!isShowChangePassword" class="forgot-password">
        <h3>Forgot Password</h3>
        <br />
        <table>
            <tr>
                <td style="text-align: center;">Enter Email: </td>
                <td><input type="text" [(ngModel)]="customerEmail" /></td>
            </tr>
        </table>
        <br />
        <button (click)="onSubmit()" mat-raised-button color="primary" class="btn">Submit</button>
    
    </div>
    <div *ngIf="isShowChangePassword" class="forgot-password">
        <h3>Change Password</h3>
        <br />
        <table>
            <tr>
                <td >Enter New Password: </td>
                <td><input type="password" [(ngModel)]="newPassword" /></td>
            </tr>
        </table>
        <br />
        <button (click)="onChangePassword()" mat-raised-button color="primary" class="btn">Submit</button>
    </div>
    </div>

</body>
</html>


