.forgot-password {
    
    box-shadow: rgb(109 109 125 / 28%) 0px 4px 7px 0px;
    text-align: center;
    padding: 20px;
}
table tr {
    border-style: hidden;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../../../assets/Images/bg2.jpeg");

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.forgot-password input{

    margin: 10px;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #3f8c50;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover {
    background: #08792c;
}
