<div class="container" id="contact">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <i class="fas fa-phone"> Phone</i>
                <h6>+91-9856332986</h6>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <i class="fas fa-envelope"> Email</i>
                <!-- <strong>Email:</strong> greengrocer&#64;.com <br> -->
                <h6>greengrocer&#64;gmail.com </h6>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <i class="fas fa-location-dot"> Address</i>
                <h6>Green Grocer, Mumbai</h6>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
            <input type="text" class="form-control form-control" placeholder="Name">
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <input type="text" class="form-control form-control" placeholder="Email">
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <input type="text" class="form-control form-control" placeholder="Phone">
        </div>
        <div class="form-group" style="margin-top: 30px;">
            <textarea class="form-control" id="" rows="5" placeholder="Message"></textarea>
        </div>
        <div class="messagebtn text-center"><button>Message</button></div>
    </div>
</div>


<!-- offer -->
<div class="container" id="offer">
    <div class="row">
      <div class="col-md-3 py-3 py-md-0">
        <i class="fa-solid fa-cart-shopping" style="font-size: 32px;"></i>
        <h3>Free Shipping</h3>
        <p>On order over ₹500</p>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <i class="fa-solid fa-rotate-left" style="font-size: 32px;"></i>
        <h3>Free Returns</h3>
        <p>Within 30 Minutes</p>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <i class="fa-solid fa-truck" style="font-size: 32px;"></i>
        <h3>Fast Delivery</h3>
        <p>All over the city</p>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <i class="fa-solid fa-thumbs-up" style="font-size: 32px;"></i>
        <h3>Big choice</h3>
        <p>Of products</p>
      </div>
    </div>
  </div>
  <!-- offer -->










