
 
 <!-- navbar -->
 <nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container-fluid">
    <span><img src="../../../assets/Images/fruit1.png" alt="" width="80px" height="50px"></span>
    <a class="navbar-brand" routerLink="/" id="logo"><span id="span1">G</span>reen <span>Grocer</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="../../../assets/Images/menu.png" alt="" width="30px"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer-login">Product</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #0f6335;">
            <li><a class="dropdown-item" href="#">Fresh fruits</a></li>
            <li><a class="dropdown-item" href="#">Vegitables</a></li>
            
          </ul>
        </li>  -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus">Contact</a>
        </li>
      </ul>
      <form class="d-flex" id="search">
       
     
      <button class="btn btn-outline-success" type="submit"> <a class="nav-link" routerLink="customer-login" style="color: white;">Sign In</a></button>
      <button class="btn btn-outline-success" type="submit"> <a class="nav-link" routerLink="signup" style="color: white;">Register</a></button>
    </form>
    </div>
  </div>
</nav>
<!-- navbar -->



