body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../../../../assets/Images/bg2.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0px;
  }
  .centered {
    display: flex;
    justify-content: center;
  }
  .information {
    width: 400px;
  }
  .register-tab {
    width: 40%;
    margin: 30px auto;
    box-shadow: rgba(12, 12, 13, 0.28) 0px 4px 7px 12px;
    padding: 20px;
    background-color:#0f6335;
    color: black;
    font-weight: 500;
  }
  table tr td{
    padding: 10px
  }
  table td{
    width: 100px;
  }
 .register-tab h1{
  color: #d6f9e6;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 10px;

  }
  .label{
    color: #d6f9e6;
  }
  .btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #3f8c50;
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover {
    background: #08792c;
}
